---
import Layout from '../../layouts/Layout.astro'
import AboutMe from "../../components/AboutMe.astro"
import Contact from "../../components/Contact.astro"
import WhatToGet from "../../components/WhatToGet.astro"
import References from "../../components/References.astro"
import Reference from "../../components/Reference.astro"
import {getLangFromUrl, useTranslations} from "../../i18n/utils"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("title")}>
	<main>
		<header>
			<h1>{t("hp")["title"]}</h1>
			<ul>
				{t("hp")["introList"].map(item => <li>{item}</li>)}
			</ul>
		</header>
		<AboutMe>
			<ul>
				{t("hp")["about"]["skills"].map(item => <li>{item}</li>)}
			</ul>
		</AboutMe>
		<WhatToGet />
		{t("hp")["references"]["items"].length > 0 && (
				<References>
					<ul>
						<li><Reference title={t("hp")["references"]["items"][0]} year="2021" /></li>
						<li><Reference title={t("hp")["references"]["items"][1]} year="2023" /></li>
					</ul>
				</References>
		)}
		<Contact />
	</main>
	<footer>
		<p set:html={t("footer").replace(/(?:\r\n|\r|\n)/g, '<br>')}></p>
	</footer>
</Layout>

<style lang="scss">
  main {
	max-width: 1000px;
	margin-inline: auto;
	padding-inline: 20px;
  }

  ul {
	gap: 6px 24px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	align-items: center;
	justify-content: center;

	li {
	  position: relative;

	  &:nth-child(n+2) {
		&::before {
		  content: "•";
		  top: 50%;
		  left: -12px;
		  position: absolute;
		  translate: -50% -50%;
		}
	  }
	}

	@media all and (min-width: #{map-get($breakpoints, "md")}) {
	  gap: 8px 32px;

	  li:nth-child(n+2)::before {
		left: -16px;
	  }
	}

	@media all and (min-width: #{map-get($breakpoints, "xl")}) {
	  gap: 10px 32px;
	}
  }

  footer {
	padding: 20px;
	font-size: 14px;
	text-align: center;
  }
</style>
