---
import Layout from '../layouts/Layout.astro'
import AboutMe from "../components/AboutMe.astro"
import Contact from "../components/Contact.astro"
import WhatToGet from "../components/WhatToGet.astro"
---

<Layout title="Website that works.">
	<main>
		<h1>Freelance web coder</h1>
		<ul>
			<li>JavaScript & TypeScript</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>PHP</li>
		</ul>
		<AboutMe>
			<ul>
				<li>JavaScript</li>
				<li>TypeScript</li>
				<li>HTML</li>
				<li>SCSS</li>
				<li>PHP</li>
				<li>React</li>
				<li>NextJS - app & pages</li>
				<li>Bootstrap</li>
				<li>Strapi</li>
				<li>Astro</li>
				<li>Nette</li>
				<li>Flutter</li>
				<li>Linux</li>
			</ul>
		</AboutMe>
		<WhatToGet />
		<Contact />
	</main>
	<footer>
		<p>Web is in construction <br> more info and references soon.</p>
	</footer>
</Layout>

<style lang="scss">
  main {
	max-width: 1000px;
	margin-inline: auto;
	padding-inline: 20px;
  }

  h1 {
	color: rgb(var(--primary));
	font-size: 64px;
	text-align: center;
	line-height: 1.2;
	margin-bottom: 24px;
  }

  ul {
	gap: 10px	32px;
	margin: 0 0 48px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	align-items: center;
	justify-content: center;

	li {
	  position: relative;

	  &:nth-child(n+2) {
		&::before {
		  content: "•";
		  top: 50%;
		  left: -16px;
		  position: absolute;
		  translate: -50% -50%;
		}
	  }
	}
  }

  footer {
	padding: 20px;
	font-size: 14px;
	text-align: center;
  }
</style>
