---
import {getLangFromUrl,useTranslations} from "../i18n/utils"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section>
	<h2>{t("hp")["about"]["title"]}</h2>
	<div>
		<p>{t("hp")["about"]["i"]}</p>
		<p>{t("hp")["about"]["experience"]}</p>
	</div>
	<slot />
</section>

<style lang="scss">
	div {
	  margin-bottom: 16px;
	  justify-content: space-between;

	  @media all and (min-width: #{map-get($breakpoints, "md")}) {
		display: flex;
	  }
	}

	p {
	  flex: 0 0 calc(50% - 24px);

	  @media all and (min-width: #{map-get($breakpoints, "lg")}) {
		flex: 0 0 calc(45% - 24px);
	  }
	}
</style>