---
import {getLangFromUrl,useTranslations} from "../i18n/utils"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section>
	<h2>{t("hp")["references"]["title"]}</h2>
	<slot/>
</section>

<style lang="scss">
  div {
	display: flex;
	justify-content: space-between;
  }

  p {
	flex: 0 0 calc(45% - 24px)
  }
</style>