---
import {getLangFromUrl,useTranslations} from "../i18n/utils"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section>
	<h2>{t("hp")["offer"]["title"]}</h2>
	<div>
		<p>
			{t("hp")["offer"]["text"]}
		</p>
	</div>
</section>