<section>
	<h2>What can You get</h2>
	<div>
		<p>
			Every project is different. I am able to take on small project like simple html templates based on figma design to big
			project employing multiple people. Those include presentation sites, e-shops, internal systems (inventory management, billing system), APIs and in some case mobile apps.
			Each project has its own content management system if possible. This is very useful for mobile applications since you don't have to publish update everytime content changes.
			I am mainly focused on custom projects with unique needs. I don't do WordPress and alike.
		</p>
	</div>
</section>

<style lang="scss">
  	section {
	  margin-bottom: 50px;
	}
</style>