---
interface Props {
	title: string;
}

const {title} = Astro.props
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="description" content="Astro description"/>
	<meta name="viewport" content="width=device-width"/>
	<meta name="description" content="I am freelancer for website development. I can create html templates from your design or more complex solutions including backend, frontend and connecting to other systems.">
	<meta name="keywords" content="frontend, backend, system, cms, website, e-shop, javascript, php, html, css, scss, nette, mysql, custom, project, management, online, react, next, nextjs, astro">
	<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
	<meta name="generator" content={Astro.generator}/>
	<title>{title}</title>
</head>
<body>
<slot/>
</body>
</html>
<style is:global>
    @font-face {
        font-family: 'Roboto Mono';
        src: url('/fonts/RobotoMono-VariableFont_wght.ttf') format("truetype-variations");
        font-style: normal;
        font-weight: 1 999;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roboto Mono';
        src: url('/fonts/RobotoMono-Italic-VariableFont_wght.ttf') format("truetype-variations");
        font-style: italic;
        font-weight: 1 999;
        font-display: swap;
    }

    @font-face {
        font-family: 'VT323';
        src: url('/fonts/VT323-Regular.ttf') format("truetype-variations");
        font-weight: 1 999;
		font-display: swap;
    }

    :root {
        --color: 31, 31, 31;
        --primary: 36, 123, 160;
        --background: 255, 252, 255
    }

    html {
        color: rgb(var(--color));
        height: 100%;
        font-family: "Roboto Mono", system-ui, sans-serif;
        background-color: rgb(var(--background));
    }

    body {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h2 {
        text-align: center;
        font-size: 32px;
        margin-bottom: 24px;
    }

    a {
        color: rgb(var(--primary));
        transition: text-decoration-color .3s;
    }

    p, ul, ol {
        margin-top: 0;
        margin-bottom: 1rem;
    }
</style>
